@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'inter';
    src: url('/fonts/inter.ttf');
}


.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}